.lg\\:col-span,
.md\\:col-span,
.md\\:row-span-2,
.md\\:row-span {
  background-color: #d53030; /* Dark background for contrast */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
}

.p-4 {
  padding: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-center {
  display: flex;
  justify-content: center;
}
